#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DEB_VERBOSE_ALL=true

%:
	dh $@

override_dh_auto_clean:
	mvn clean

override_dh_auto_configure:
	# do nothing

override_dh_auto_test:
	# do nothing

override_dh_auto_build:
	mvn -DskipTests -Dassembly.skipAssembly=true package
	mvn dependency:copy-dependencies -DincludeScope=runtime

override_dh_install:
	mkdir debian/tmp
	cp resources/config/jicofo-logrotate.d debian/tmp/jicofo
	cp target/jicofo*.jar debian/tmp/jicofo.jar
	dh_installsystemd --no-enable --no-start
	dh_installinit --no-start --no-enable
	dh_install

override_dh_auto_install:
	dh_installsystemd --no-enable --no-start
	dh_installinit --no-start --no-enable
